<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
        integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <title>Agregar Producto</title>
</head>

<body>
    <div class="container">
        <div class="formulario mt-5">
            <h2>Agregar Producto</h2>
            
            <form action="" method="POST" enctype="multipart/form-data">

                <div class="mb-3">
                    <label for="formGroupExampleInput" class="form-label">Titulo</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" name="titulo" value="<%= locals.old && old.titulo ? old.titulo : null %>">
                    <span class="small text-danger"><%= locals.errores && errores.titulo ? errores.titulo.msg : null %> </span>
                </div>

                <div class="mb-3">
                    <label for="formGroupExampleInput2" class="form-label">Precio</label>
                    <input type="number" class="form-control" id="formGroupExampleInput2" name="precio" value="<%= locals.old && old.precio ? old.precio : null %>">
                    <span class="small text-danger"><%= locals.errores && errores.precio ? errores.precio.msg : null %> </span>
                </div>

                <div class="mb-3">
                    <label for="category" class="form-label">Categoría</label>

                    <select id="category" class="form-select" name="categoria">
                        <option value="" selected hidden>Seleccione la categoría</option>
                        <% categorias.forEach(categoria=> { %>
                            <option value="<%= categoria %>" <%= locals.old && old.categoria === categoria ? 'selected' : null%>> <%= categoria %> </option>
                            <% }) %>
                    </select>
                    <span class="small text-danger"><%= locals.errores && errores.categoria ? errores.categoria.msg : null %> </span>

                </div>

                <div class="mb-3">
                    <label for="productImagen" class="form-label">Imagen</label>
                    <input type="file" class="form-control" id="productImagen" name="imagen">
                </div>

                <button class="btn btn-primary" type="submit">Guardar</button>
            </form>
        </div>
    </div>

    
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
crossorigin="anonymous"></script>

</html>